<h1>New Game</h1>
<p>Can you compose the longest word ? :D</p>
<p> <%=@letters%> </p>

<form action="/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag @letters%>
  <input type="text" id="answer" name="try"><br>
  <label for="answer">What's your answer?</label><br>
  <input type="submit" value="play">
</form>
